<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../vue-boolzapp/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app" class="wrapper">
    
    

      <div class="main-container">
        <div class="sx-col">
          <div class="sx-header">
            <div><img :src="`img/avatar${utente.avatar}.jpg`" alt=""></div>
            <div>{{utente.name}}</div>
            <div><span><i class="fa-solid fa-rotate"></i></span>
    
              <span><i class="fa-solid fa-message"></i></span>
              
              <span><i class="fa-solid fa-ellipsis"></i></span></div>
          </div>
          
          
          <!-- colsx -->
        <div class="notification">
          <div class="bell"><i class="fa-solid fa-bell"></i></div>
          <div>
       <span class="span1">Ricevi notifiche di nuovi messaggi</span>  <br>
        <span class="span2">Attiva notifiche desktop</span></div>
        </div>
        <div class="search-section"> 
          <div class="leans-search"> <i class="fa-solid fa-magnifying-glass"></i></div>
          <input class="search-bar" type="text" placeholder="cerca contatto">
        </div>
    
        <!-- contatti -->
        <div class="contact-section">
        <div v-for="(user,index) in users" class="single-contact" @click="userChat(index)">
          <div class="single-contact-deep"><img :src="`img/avatar${user.avatar}.jpg`" alt="user.name" class="img-user">
          <div>{{user.name}} 
           <br> <span v-for="(text, index) in user.messages" >{{text.message}}</span> 
          </div></div>
          <div class="test" v-for="(text, index) in user.messages" >{{text.date}}</div>
        </div></div>
    
        </div>
        
        <!-- fine colonna sinistra -->

        <div class="dx-col">
          <div class="dx-header">
            <div class="dx-header-deep"><img class="dx-img" src="img/avatar_1.jpg" alt="">
              <div> {{users[indexUser].name}} <br>
             <span>Ultimo accesso oggi alle</span> </div>
            </div>
            <div class="icon-top-dx"><span><i class="fa-solid fa-magnifying-glass"></i></span> <span><i class="fa-solid fa-paperclip"></i></span> <span><i class="fa-solid fa-ellipsis"></i></span> </div>
          </div>
          <div class="container-chat">
            <div class="chat" >
              <div class="messaggio-sinistra" v-for="(message, index) in users[indexUser].messages">

                <div class="right-message sent">
                  <div class="message sent ">
                    <div class="message-text">{{message.message}}</div>
                    <div class="message-data"></div>
                  </div>
                </div>

                <!-- messaggi -->
                <div class="left-message recived">
                <div class="message recived ">
                  <div class="message-text" >{{message.message}}</div>
                  <div class="message-data">test</div>
                </div></div>
            </div>

          </div>
          <div class="input-chat">
            <div><i class="fa-solid fa-face-grin"></i></div>
            <div class=""> <input v-model="msgToSend" type="text" name="" id="input" @keyup.enter="sendMsgAction()"></div>
            <div><i class="fa-solid fa-microphone"></i></div>
            
          </div>


          </div>       <!-- dx col -->

        </div>


      </div>
  </div>
  

  
  <script src="../vue-boolzapp/contacts-boolzapp.js"></script>
</body>
</html>