.wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
body{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dddbd1 15vh,
  #d2dbdc 100%
  );
  font-family: 'Lato',sans-serif;
}
.main-container{
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  /* background-color: red; */
  height: 95vh;
  width: 80%;
}
.sx-col{
  width: calc(100% / 2);
  height: 100%;
  background-color: white;
  float: left;
  /* background-color: green; */
}
.sx-header{
  height: 55px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sx-header i{
  padding: 5px;
}
.notification{
  background-color: #8edafc;
  height: 60px;
  display: flex;
  align-items: center;
}
.bell{
  color: gray;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
}
.span1{
  font-size: 14px;
  font-weight: bolder;
}
.span2{
  font-size: 9px;
  color: gray;
  text-decoration: underline;
}
.leans-search{
  padding: 10px;
  color:gray;
  border: 1px solid gray;
}
.search-section{
  display: flex;
  padding: 2px;
}
.search-bar{
  width: 85%;
}
/* contatti */
.contact-section{
  /* background-color: violet; */
  height: calc(100% - 60px - 55px - 44px);
  overflow-y: scroll;
}
.single-contact:hover{
  background-color: rgb(238, 233, 233);
}
.single-contact{
  display: flex;
  justify-content: space-between;
  border: 0.5px solid gray;
  cursor: pointer;
  padding: 10px;
  /* background-color: aliceblue; */
}
.test{
  
  font-size: 5px;
}
.single-contact-deep{
  display: flex;
  
}
.img-user{
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* colonna destra */

.dx-col{
  /* float: right; */
  background-color:rgb(225, 239, 244);
  width: 100%;
  height: 100%;
}
.dx-header{
  border-left:1px solid gray ;
  display: flex;
  background-color: #e2e2e2;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
.icon-top-dx i{
  margin-right: 20px;
  color: gray;
}
.dx-header-deep{
  display: flex;
}
.dx-img{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50px;
  margin-right: 20px;
}
.container-chat{
  height: calc(100% - 55px - 50px );
  /* background-color: yellow; */
  width: 100%;
}
.chat{
  height: calc(100% - 50px - 50px);
  overflow-y: scroll;
  padding: 50px;
}
.message{
  background-color: #D5F9BA;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
}
.message.recived{
  background-color: white;
}
.left-message{
  display: flex;
 
}
.right-message{
  display: flex;
  flex-direction: row-reverse;
}
.input-chat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #e2e2e2;

}

#input{
  width: 500px;
  height: 35px;
  border: 3px solid #8edafc;
  border-radius: 5px;
}
.message-data{
  float: right;
  font-size: 10px;
}
i{
  cursor: pointer;
}